#board{
    width: 500px;
    height: 500px;
    background-color: #177C58;
    padding: 30px;

    display: grid;
    position: relative;
    gap: 22px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}

#game{
    position: relative;
    background-color: #177C58;
    display: flex;
    flex-direction: column;
    align-items: center;    
}


#status{
    color: #fff;
    font-size: 30px;
    font-weight: bold;
}