#board{
    width: 500px;
    height: 500px;
    background-color: #177C58;
    padding: 30px;

    display: grid;
    position: relative;
    gap: 22px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}



